$background-color: #F1F8E9;
$white-text-color: #EFEBE9;
$primary-color: #66BB6A;
$text-color: #546E7A ;
$CTA-color: #FF7043;
$CTA-hover: #E85C32;
$secondary-color: #388E3C;
$error-color: #e74c3c;
$shadow: rgba(0, 0, 0, 0.65);

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;